body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u91 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:50%;
  margin-top:-540px;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u93 {
  position:fixed;
  left:50%;
  margin-left:-298.5px;
  top:50%;
  margin-top:-356.5px;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:713px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:713px;
  opacity:0.82;
}
#u96 {
  position:absolute;
  left:2px;
  top:348px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:56px;
}
#u97 {
  position:absolute;
  left:29px;
  top:48px;
  width:229px;
  height:64px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:56px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u99 {
  position:absolute;
  left:29px;
  top:122px;
  width:148px;
  height:26px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u101 {
  position:absolute;
  left:29px;
  top:185px;
  width:73px;
  height:30px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u103 {
  position:absolute;
  left:29px;
  top:282px;
  width:49px;
  height:30px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u105 {
  position:absolute;
  left:29px;
  top:375px;
  width:97px;
  height:30px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u107 {
  position:absolute;
  left:29px;
  top:458px;
  width:73px;
  height:30px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u109 {
  position:absolute;
  left:29px;
  top:539px;
  width:73px;
  height:22px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:23px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:135px;
  top:179px;
  width:385px;
  height:43px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:135px;
  top:269px;
  width:385px;
  height:43px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u113 {
  position:absolute;
  left:136px;
  top:369px;
  width:384px;
  height:43px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u114 {
  position:absolute;
  left:136px;
  top:452px;
  width:384px;
  height:43px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u115 {
  position:absolute;
  left:136px;
  top:526px;
  width:222px;
  height:43px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u116 {
  position:absolute;
  left:380px;
  top:526px;
  width:140px;
  height:43px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 127, 129, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u118 {
  position:absolute;
  left:40px;
  top:610px;
  width:480px;
  height:66px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
