<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <title>login</title>
    <link rel="stylesheet" href="./../css/login.css">
    <link rel="shortcut icon" href="./../../logo.ico">
    <script src="./../js/jquery.min.js"></script>
</head>

<body onload="createCode();">
    <video autoplay loop muted>
        <source src="./../img/food2.mp4">
    </video>
    <div class="box">
        <a href="javascript:;" id="myLogo"><img src="./../img/logo.png" alt=""></a>
        <div class="boxTop"><a href="#">登录让你更好的了解我们</a></div>
        <div class="boxBot">
            <form id="myForm">
                <input type="text" id="userName" name="user" placeholder="请输入用户名 / 邮箱" autofocus autocomplete="off"
                    onkeyup="value=value.replace(/\s/g,'')" />
                <span></span>

                <input type="password" name="pass" id="passWord" placeholder="请输入密码"
                    onkeyup="value=value.replace(/\s/g,'')" />
                <span></span>

                <input type="text" name="verified" id="verification" placeholder="请输入验证码" autocomplete="off"
                    onkeyup="value=value.replace(/\s/g,'')" />
                <a href="javascript:;" id="codeNum"></a>
                <span></span>

                <br>
                <input type="button" value="Login" id="btn" />
            </form>
            <div class="insert_alter">
                <a href="./retrieve.html" id="alter">忘记密码？</a>
                <span class="center">|</span>
                <a href="./register.html" id="insert">现在注册 > </a>
            </div>
            <script>
                // 验证码
                var code;
                function createCode() {
                    code = "";
                    var codeLength = 4;
                    var codeNum = $('#codeNum');
                    var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
                    for (var i = 0; i < codeLength; i++) {
                        var index = Math.floor(Math.random() * 36);
                        code += random[index];
                    }
                    $('#codeNum').html(code);

                }
                $('#codeNum').click(function () {
                    createCode();
                })
                // 绑定回车键  
                $(document).keydown(function (event) {
                    var event = window.event || event;
                    if (event.keyCode == 13) {
                        $('#btn').click()
                    }
                })

                // 当失去焦点时

                $('#userName').blur(function () {
                    if ($('#userName').val().length > 0) {
                        $("span")[0].innerHTML = "";
                    }
                })
                $('#passWord').blur(function () {
                    if ($('#passWord').val().length > 0) {
                        $("span")[1].innerHTML = "";
                    }
                })
                $('#verification').blur(function () {
                    if ($('#verification').val().length > 0) {
                        $("span")[2].innerHTML = "";
                    }
                })


                // 点击发送
                $('#btn').click(function () {
                    var userName = $.trim($("#userName").val());
                    var passWord = $.trim($("#passWord").val());
                    var verification = $.trim($("#verification").val());
                    var bigStr = verification.toUpperCase();

                    var isSuccess = 1;

                    if (userName == '') {
                        $("span")[0].innerHTML = "用户名不能为空!";
                        isSuccess = 0;
                    }
                    if (passWord == '') {
                        $("span")[1].innerHTML = "密码不能为空！";
                        isSuccess = 0
                    }
                    if (verification == '') {
                        $("span")[2].innerHTML = "请输入验证码！";
                        isSuccess = 0;
                    } else if (verification.length != 4 || bigStr != code) {
                        $("span")[2].innerHTML = "请输入正确的验证码";
                        createCode();
                        isSuccess = 0;
                    }
                    if (isSuccess == 0) {
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Login",
                        data: $('#myForm').serialize(),// 序列化表单值  
                        async: false,
                        error(request) {
                            alert("提交失败");
                        },
                        success(data) {  // 请求成功
                            // alert(typeof(data));  // string 类型
                            var data = parseInt(data); // 转换
                            if (data == 1) {
                                alert('登录成功');
                                window.location.href = "./../../../index.html";
                            } else if (data == -1) {
                                alert('登录失败,用户名或密码错误');
                                createCode();
                                return false;
                            } else { // 0用户不存在
                                alert('用户不存在');
                                createCode();
                                return false;
                            }

                        }
                    });

                })



            </script>
        </div>
    </div>



</body>

</html>