<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的主页</title>
    <!-- Logo -->
    <link rel="shortcut icon" href="./../../logo.ico">
    <script src="./../js/jquery.min.js"></script>
    <script src="./../js/vue.js"></script>
    <script src="./../js/axios.js"></script>
    <script src="./../js/template-web.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="./../bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 图标 -->
    <link rel="stylesheet" type="text/css" href="../font-icon/iconfont.css" />
    <script src="./../js/cookies.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- 自定义样式 -->
    <link rel="stylesheet" type="text/css" href="./../css/blog.css">
    <link rel="stylesheet" href="./../css/myHome.css">
</head>




<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="nav_logo">
                <img src="./../img/logo.png">
                <h2>食上达人</h2>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link home-page" href="./../../../index.html"><i
                                class="iconfont icon-shouye"></i>&nbsp;首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="iconfont icon-jinrituijian"></i>&nbsp;今日推荐</a>
                    </li>

                </ul>

                <div class="write">
                    <a href="./../view/wangEditor.html" onclick="show_login()" target="_blank"><i
                            class="iconfont icon-xietiezi"></i>&nbsp;写文章</a>
                </div>
            </div>

        </nav>

    </header>
    <div id="addImgBox">
        <svg style="float: right; cursor:pointer;" id="close_addBox" width="25" height="25" fill="currentColor"
            class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
        </svg>
        <ul>
            <li class="borderBox"><img src="./../img/HeadImg/1.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/2.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/3.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/4.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/5.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/6.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/7.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/8.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/9.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/10.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/11.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/12.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/13.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/14.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/15.jpg" alt=""></li>
            <li><img src="./../img/HeadImg/16.jpg" alt=""></li>
        </ul>
        <button type="button" id='upImg_btn'>修改</button>
    </div>
    <main role="main" class="container wall">
        <div class="row">
            <div class="col-md-8 blog-main">
                <!-- 头部 -->
                <div class="top_hea-Img">

                    <div class="cen_hea-Img">
                        <img src="" alt="" id="head_IMg">
                        <!-- 添加图片 -->
                        <div class="addImg" id="add_img">
                            <span>更换头像</span>
                        </div>
                        <div class="userBox" id="userData">

                        </div>
                    </div>
                </div>
                <!-- 页面大体 -->
                <div class="body_top">

                    <ul id="body_top_art">
                        <li class="active" id="article"> <span></span>文章</li>
                        <!-- <li id="message"> <span></span>消息</li> -->
                        <li id="attention"> <span></span>关注</li>
                        <li id="change_info"><span></span>修改信息</li>
                    </ul>

                </div>
                <script>
                    $('#change_info').click(function () {
                        // 获取cookie值
                        function getCookie(cname) {
                            var name = cname + "=";
                            var ca = document.cookie.split(';');
                            for (var i = 0; i < ca.length; i++) {
                                var c = ca[i].trim();
                                if (c.indexOf(name) === 0)
                                    return c.substring(name.length, c.length);
                            }
                            return "";
                        }

                        var id = getCookie("ids");
                        var ids = {"id",id};

                        $.ajax({
                            url:"",
                            data:ids,
                            async:false,
                            success:function (result) {
                                var html = ''
                                for(var i in result){
                                    html+=`              <form id="UpdataMyForm">
                                    <table>
                                        <tr class="updata_userName">
                                            <td>昵称</td>
                                            <td>${}</td>
                                        </tr>
                                        <tr class="updata_sex">
                                            <td>性别</td>
                                            <td> <input type="radio" name="sex" value="男"> 男 </td>
                                            <td> <input type="radio" name="sex" value="女"> 女 </td>
                                            <td> <label for="sex"></label></td>

                                        </tr>
                                        <tr class="updata_bir">
                                            <td>生日</td>
                                            <td><input type="date" name="birthday" id="" value="${}"
                                                    style="border-color: wheat; border-radius: 5px;"></td>
                                        </tr>

                                        <tr class="updata_pass">
                                            <td>修改密码</td>
                                            <td><a href="./retrieve.html">修改密码</a></td>
                                        </tr>
                                        <tr class="updata_person">
                                            <td class="one">个人简介</td>
                                            <td class="two"><textarea value="${}" name="person_data" id=""
                                                    maxlength="120"></textarea></td>
                                        </tr>
                                        <tr class="updataOk">
                                            <td><button type="button" id="userBTN">保存</button></td>

                                        </tr>
                                    </table>
                                </form>`;
                                }
                                $('#art_form').html(html);
                            }
                        });
                    })
                </script>
                <div class="body_cen" id="body_cen_art">
                    <!-- 文章 -->
                    <div class="show">
                        <div class="art" >
                            <ul class="note-list" id="note_list"></ul>
                        </div>
                    </div>
                    <!-- 关注 -->
                    <div style="display: none;">
                        <div class="att">
                            <div class="att-top">
                                <ul id='att-top-nav'>
                                    <li class="active"><span></span> 关注的达人</li>
                                    <li><span></span> 粉丝</li>
                                </ul>
                            </div>
                            <div id="att-aut">
                                <!-- 关注的人 -->
                                <ol>
                                    <li>
                                        <a href="">
                                            <h2>达宝</h2>
                                            <p>小达人我是你的达宝呀,如果你有什么问题需要帮助可以问我奥！</p>
                                        </a>
                                        <button type="button">取消关注</button>
                                    </li>
                                </ol>
                                <!-- 粉丝 -->
                                <ol style="display: none;">
                                    <li>
                                        <a href="">
                                            <h2>达宝</h2>
                                            <p>小达人我是你的达宝,有什么事情可以问我,我一定不告诉你奥</p>
                                        </a>

                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- 修改 -->
                    <div style="display: none;">
                        <div class="change">
                            <div class="alert_data" id="art_form">


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 判断动态列表 -->
            <script>
                // 页面nav的
                var lis = document.getElementById('body_top_art').children; // 触发 功能
                var divs = document.getElementById('body_cen_art').children; // 版面 
                // 关注的
                var att_lis = document.getElementById('att-top-nav').children; // 点击
                var att_divs = document.getElementById('att-aut').children; // 作者

                function Tolis(lis, divs) {
                    for (var i = 0; i < lis.length; i++) {

                        lis[i].index = i;//获得span的索引

                        lis[i].onclick = function () {

                            for (var j = 0; j < lis.length; j++) {
                                lis[j].className = "";
                                divs[j].className = "close";

                            }
                            this.className = "active";

                            divs[this.index].className = "show";

                        };
                    };
                }

                Tolis(lis, divs);
                Tolis(att_lis, att_divs);



            </script>
            <aside class="col-md-4 blog-sidebar">


                <footer class="blog-footer">
                    <div class="team">
                        <h5>我们的美食</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <h6>MYteam</h6>
                                <span>民以食物为天 美食秘籍以食上达人为先，</span>
                            </li>
                        </ul>
                    </div>
                    <div class="team">
                        <h5>关于我们</h5>
                        <p>
                            我们的博客建立宗旨是“民以食为天，美食秘籍以<a href="">食上达人</a>为先”<em>！！！</em>每位小可爱们都可以畅所欲言，分享小主儿们美食小秘籍……
                        </p>
                    </div>
                </footer>
            </aside>

        </div>
        <script src="./../js/myHome.js"></script>

    </main>
    <!-- 判读是否登录 -->
 <script>
        var imgs = getCookie("headImg");
        var ids = getCookie('id');
        if (imgs != '' && ids != '') {
            $('#head_IMg').attr('src', "./.." + imgs)

        }
        if (imgs == '' || ids == '') {
            $('body').css('display', 'none')
            alert('请登录')
            window.location.href = './login.html';
        }
    </script>
</body>
<!-- <script src="./view/leadingendview/js/jquery-3.5.1.slim.min.js"></script> -->
<script>
    window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<script src="./../bootstrap-4.6.0-dist/js/popper.min.js"></script>
<script src="./../bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="./../bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

</html>