@charset "utf-8";
idhtml, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {margin: 0;padding: 0;}
*{box-sizing: border-box;}
html, body {min-height: 100%;}
body {font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {list-style: none;}
s,i,em{font-style:normal;text-decoration:none;}
img {border: none;vertical-align: middle;}
a {text-decoration: none;color: #3498db;}
table {border-collapse: collapse;table-layout: fixed;}
input, textarea {outline: none; background-color:transparent;border: 0; outline: none; background-color: rgba(0,0,0,0);}
textarea {resize: none;overflow: auto;}
body{
	width: 100%;
	height: 3000px;
	position: relative;
	background-color: #f6f6f6;
}
/* 导航栏 */
nav{
	width: 100%;
	height: 60px;
	box-shadow: 1px 1px gray;
	margin: 0 auto;
	background-color: #fff;
}
/* logo */
nav .nav_logo,nav .nav_item,nav .nav_select,nav .nav_login{
	width: 25%;
	height: 100%;
	float: left;
}
nav .nav_logo img{
	cursor: pointer;
	width: 100px;
	height: 60px;
	display: block;
	float: left;
}
nav .nav_logo h2{
	cursor: pointer;
	float: left;
	font-size: 30px;
	font: "arial, helvetica, sans-serif";
	font-weight: 400;
	line-height: 60px;
	margin-left: 10px;
}
/* item */
nav .nav_item ul li{
	float: left;
	display: block;
	width: 25%;
	height: 100%;
	text-align: center;
	line-height: 60px;
}

nav .nav_item ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 15px;
}
nav .nav_item ul li.action a{
	color: coral;
}
nav .nav_item ul li a:hover{
	background-color:rgba(0,0,0,0.1);
}
/* 搜索框 */
nav .nav_select {
	position: relative;
}
nav .nav_select input{

	width: 200px;
	height:40px;
	margin: 10px;
	background-color: rgba(0,0,0,0.1);
	padding-left:20px;
	border-radius: 20px;
}
nav .nav_select .search_icon{
	background: url(../img/select.png) no-repeat  center;
	background-size: 20px 20px;
	display: block;
	width: 60px;
	height: 30px;
	position: absolute;
	left: 150px;
	top: 15px;
	cursor: pointer;
}
/* 登录 */
nav .nav_login #login div{
	float: left;
	/* height: 100%; */
	line-height: 60px;
	margin-left: 20px;
	width: 30%;
	position: relative;
}
nav .nav_login #login div img{
	margin-top: 15%;
	width: 60%;
	height: 60%;
	display: block;
}
nav .nav_login #login div a{
	width: 60%;
	height: 60%;
	display: block;
	color: gray;
	font-size: 15px;
}
nav .nav_login #login div a:hover{
	color: coral;
}
nav .nav_login #login div #quit_box {
	display: none;
	width: 100px;
	height: 120px;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: -45px;
	z-index: 10;
	border-radius: 15px;
	padding: 20px;
	box-shadow: #999 0px 1px 2px;
}
#quit_box #quit_ul li {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #f9f9f9;
	line-height: 30px;
}
#quit_box #quit_ul li a{
	font-size: 14px;
	display: block;
	width: 100%;
	height: 30px;
text-align: center;

}
.write{
	float: left;
	width: 33.33%;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	background-color: coral;
	border-radius: 25px;
	margin-left: 20px;

}
.write a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #000;
}
.write a:hover{
	color: wheat;
}
/* 轮播图 */
.slider{
	width: 100%;
	height:300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

}
.slider .sli_img li{
	width: 100%;
	height: 300px;
	float: left;
}
.slider img{
	width: 100%;
	height: 300px;
}
.slider .sli_lef,.sli_rig{
	background-color: rgba(0,0,0,0.1);
	width:100px ;
	height: 300px;
	position: absolute;
	color: gray;
	font-size: 50px;
	text-align: center;
	line-height: 300px;
	top: 0;
	cursor: pointer;
	display: none;
}
.slider .sli_lef{

	left: 50px;
}
.slider .sli_rig{

	right: 50px;
}
.slider #sli_num{
	width: 150px;
	height: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 50px;
	position: absolute;
	top: 270px;
	left: 50%;
	margin-left: -75px;
}
.slider #sli_num li{
	float: left;
	width: 50px;
	height: 5px;
}
.active{

	background-color: coral;
}
.wall{
	height: 50px;
}
/* 文章 */
.content{
	width: 100%;
	text-align: center;
	position: relative;
}
.content .article{

	overflow: hidden;
	display: inline-block;
	width: 80%;
	height: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}
.content .article .art_left{

	padding: 10px;
	width: 60%;
	text-align: left;
	height: 250px;
	float: left;
	position: relative;
}


.art_left  .art_body{
	width: 60%;
	float: left;
	height: 150px;
}
.art_left  .art_body h2{

	font-size: 20px;
	font-weight:400;
	margin-bottom: 10px;
}
.art_left  .art_body a:hover{
	text-decoration:underline;
}
.art_left  .art_body .art_all{
	font-size: 15px;
	color: gray;
}
.art_body .art_img {
	width: 200px;
	height: 120px;
	position: absolute;
	right: 20px;
	bottom: 95px;
}
.art_body .art_img img{
	width: 200px;
	height: 120px;

}
/* 文章底部 */
.art_body .art_author{
	width: 100%;
	height: 20px;
	margin-top: 20px;
}

.art_author .author{

	color: grey;
	margin-right: 10px;
	float: left;
}
.art_author .comment{
	color: grey;
	margin-right: 10px;
	float: left;
}
.art_author .comment i{
	display: block;
	float: left;
	width: 20px;
	height:20px;
	margin-right: 5px;
	background: url(../img/comment.png) no-repeat center;
	background-size: 30px 30px;
	cursor: pointer;
}
.art_author .love{
	color: grey;
	margin-right: 10px;
	float: left;
}
.art_author .love i{
	float: left;
	width: 20px;
	height:20px;
	margin-right: 5px;
	background: url(../img/love.png) no-repeat center;
	background-size: 20px 20px;
	cursor: pointer;
}
.wall_10{
	height: 20px;

}
.content .article .right{
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;

}
/* 右侧栏 */
.page{
	width: 35%;
	height: 100%;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
}
.page_right{
	width:100%;
	height: 100%;
	float: right;

}
/* 广告 */
.page_right .ad{
	width: 100%;
	height: 300px;

}
.page_right .ad .ad_box{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page_right .ad .ad_box img{
	width: 100%;
	height: 100%;
}
.ad .ad_box span{
	display: block;
	width: 15px;
	height: 15px;
	position:absolute;
	top: 10px;
	right: 10px;
	line-height: 15px;
	background-color: rgba(0,0,0,0.2);

	cursor: pointer;
}
/* 文章推荐 art 和 作者推荐 aut*/
.page_right .article_rec,
.author_rec{
	width: 100%;
	margin-top: 20px;
}
.page_right .article_rec .art_top,
.author_rec .aut_top{
	width: 80%;
	margin: 0 auto;
}
.article_rec .art_top .art_top_coral,
.author_rec .aut_top .aut_top_coral{
	height: 8px;
	width: 100%;
	background-color: coral;
}
.article_rec .art_top h2,
.author_rec .aut_top h2{
	background-color: #f6f6f6;
	width: 100%;
	height:50px;
	font-weight: 700;
	line-height: 50px;
	font-size: 16px;
}
.article_rec .art_bot,
.author_rec .aut_bot{
	width: 80%;
	margin:0 auto;
	height: 350px;
}
.article_rec .art_bot ul li{
	margin: 10px 0 10px 20px;
	text-align: left;
	list-style: disc;
	color: coral;
}
.article_rec .art_bot ul li a{
	color: #000;
	font-size: 14px;
	display: block;
	height: 20px;
	width: 95%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.article_rec .art_bot ul li a:hover{
	color: coral;

}
.art_bot .art_bot_updata,
.aut_bot .aut_bot_updata{
	padding: 10px;
	margin: 0 auto;
	width: 30%;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
}
.art_bot .art_bot_updata a,
.aut_bot .aut_bot_updata a{
	color: #000;
}
.art_bot .art_bot_updata i,
.aut_bot .aut_bot_updata i{
	display: block;
	margin: 5px auto;
	float: left;
	width: 20px;
	height: 20px;
	border:1px solid;
}
.author_rec .aut_bot ul li{
	display: block;
	width: 100%;
	height: 70px;
	float: left;
	border-bottom: 1px solid #f6f6f6;
}
.author_rec .aut_bot ul li a{
	display: block;
	width: 100%;
	height: 70px;
	color: rgb(53, 50, 50);
}
.author_rec .aut_bot ul li a:hover{
	color: coral;
}
.author_rec .aut_bot ul li i{
	float: left;
	display: block;
	width: 55px;
	height: 55px;
	margin: 10px 15px ;
	border-radius: 100%;
	float: left;
}
.author_rec .aut_bot ul li i img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.author_rec .aut_bot ul li i img:hover{
	width: 60px;
	height: 60px;

}
.author_rec .aut_bot ul li h2{
	width: 50px;
	text-align: left;
	float: left;
	margin: 10px 70px 5px 0;
}
.author_rec .aut_bot ul li span{
	float: left;
	width: 50%;
	text-align: left;
	color: gray;
}

/* login_page */
.login_page{
	display: none;
	width: 100%;
	height: calc(100vh);
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100000;
}

.box{
	width: 400px;
	height: 500px;
	background:#fff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -250px;
	background: rgba(245, 247, 243, 0.8);
	z-index: 100000;
   /* box-shadow: 10px 10px rgba(245, 247, 243, 0.9); */
   border-radius: 20px;

}

.box #myLogo img{
	margin-top: 20px;
	width: 120px;
	height: 100px;
}
.box .boxTop{
	width: 100%;
	height: 100px;
	padding-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
}
.box .boxTop a{
	color: #3498db;
	display: block;
	width: 200px;
	height: 60px;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
	
}
.boxBot{
	width: 100%;
	height: 370px;
	opacity: 0.8;
	
}
 #myForm span{
	 padding-left: 90px;
	 font-size: 12px;
	 letter-spacing: 1px;
	 line-height: 30px;
	 color: red;
	display: block;
	width:100% ;
	height: 30px;
	float: left;
}
/* 验证码 */
#myForm #codeNum{
	width: 100px;
	height: 40px;
	border: 1px solid #3498db;
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 10px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 40px;
	text-align: center;
}
.boxBot input[type="text"],input[type="password"]{
	width: 250px;
	height: 40px;
	display: block;
	margin: 0 auto;
	border-radius:50px ;
	padding-left: 20px;
	border: 1px solid #3498db;
	color: #000;
}

/* 文本框获得焦点时的样式 */
.boxBot input[type="text"]:focus,input[type="password"]:focus{
	/* width: 300px; */
	border-color:  #2ecc71;
}
.boxBot input[id="verification"]{
	width: 150px;
	margin:0 0 0 75px;
	float: left;
}
.boxBot form a,img{
	display: block;
	float: left;
	/*margin-left: 10px;*/
	width: 100px;
	height: 40px;
}
.boxBot input[type="button"]{
	width:80px;
	height: 40px;
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	/* margin-top: 30px; */
	color: #000;
	cursor: pointer;
	border: 2px solid #3498db;
}

.boxBot input[type="button"]:hover{
	background: #2ecc71;
	border-color:#2ecc71; 
	color: snow;
}
.insert_alter{
	width: 200px;
	height: 30px;
	margin: 20px auto;
}
.insert_alter a:nth-of-type(1){
	float: left;
	display: block;
	width:90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	padding-left: 20px;
	/* background-color: #191D3A; */

}
.insert_alter a:nth-of-type(1):hover{
	color: #2ECC71;
}

.insert_alter a:nth-of-type(2){
	float: right;
	display: block;
	width:80px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	
}
.insert_alter a:nth-of-type(2):hover{
	color: #2ECC71;
}

.insert_alter .center{
	float: left;
	display: block;
	width: 20px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	/* margin-left: 10px; */
	color: #3498db;
}
