body {
	background-color: #e7e7e7;
	font-size: 1rem;
}

body a,
body a:hover {
	text-decoration: none;
}
.wall{
	margin-top: 80px;
}
/* 清除边距 */
.clearing {
	padding: 0 !important;
	margin: 0 !important;
}

/* logo */
nav .nav_logo {
	width: 22%;
	height: 50px;
	overflow: hidden;
	float: left;
	margin-left: 20px;
}

nav .nav_logo img {
	cursor: pointer;
	width: 90px;
	height: 50px;
	display: block;
	float: left;
}

nav .nav_logo h2 {
	cursor: pointer;
	float: left;
	font-size: 30px;
	font: "arial, helvetica, sans-serif";
	font-weight: 900;
	line-height: 50px;
}

nav ul li {
	/* text-align: center; */
	height: 100%;
	margin-right: 10px;
}

nav ul li .home-page {
	color: coral !important;
}

nav ul li a:hover {
	color: coral !important;
	background: linear-gradient(to top, #dcdcdc, #ffffff);
	/* background-color: rgba(230, 230, 230, 0.8); */
}

form .sousuo {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding-right: 10px !important;
	background-color: #fff;
	background-clip: padding-box;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
}

form .Btn {
	border-radius: 0 .25rem .25rem 0;
}
form .location {
	display: block;
	height: 50px;
}
/* 登录 */
nav .nav_login {
	position: relative;
	width: 15%;
	min-width: 180px;
	height: 50px;
	/*overflow: hidden;*/
	float: right;
	margin-left: 30px;
	/* margin-right: 10px; */
	/* border: 1px solid red; */
}

nav .nav_login #login div {
	float: left;
	margin-right: 5px;
	line-height: 50px;
	width: 80px;
}
nav .nav_login #login div img{
	/* margin-top: 15%; */

	width: 55px;
	height: 50px;
	display: block;
}

nav .nav_login #login div a {
	width: 100%;
	height: 100%;
	display: block;
	color: #000000;
	font-size: 15px;
}

nav .nav_login #login div a:hover {
	color: coral;
}
.nav_login #login #quit_box {
	display: none;
	width: 95px;
	height: 80px;
	 background-color: rgb(252, 251, 251);
	position: absolute;
	padding: 10px;
	top: 50px;
	left:-20px;
	z-index: 1000;
	border-radius: 15px;
	box-shadow: #999 0px 1px 2px;
}

#quit_box #quit_ul li {
	list-style: none;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #f9f9f9;
	line-height: 30px;
}
#quit_box #quit_ul li a{
	font-size: 14px;
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;

}

.write {
	float: left;
	width: 95px;
	height: 40px;
	margin: 5px 0;
	text-align: center;
	background-color: coral;
	border-radius: 25px;
	/* 	margin-left: 20px; */
}

.write a {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #000;
}

.write a:hover {
	color: wheat;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

/* 轮播图 */
.carousel {
	margin: 4.125rem 0;
}

/* 自从定位图像，标题 */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* 声明高度是因为img元素的定位 */
.carousel-item {
	height: 32rem;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

/* 应式CSS */
@media (min-width: 40em) {

	/* 增加轮播图内容的大小 */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}

@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 {
	height: 250px;
}

@media (min-width: 768px) {
	.h-md-250 {
		height: 250px;
	}
}

.blog-pagination>.btn {
	border-radius: 2rem;
}

/* 博客文章 */
.note-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

main ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-end: 0;
	margin-inline-start: 0;
	padding-inline-start: 40px;
	margin-top: 0 !important;
}

.have-img {
	border-color: #2f2f2f;
}

.note-list li.have-img {
	min-height: 140px;
}

.note-list li {
	position: relative;
	width: 100%;
	margin: 0 !important;
	padding-right: 3px;
	border-bottom: 1px solid #515151;
	word-wrap: break-word;
	line-height: 20px;
	display: list-item;
	text-align: -webkit-match-parent;
	margin-bottom: 10px !important;
}

.note-list .have-img .wrap-img {
	width: 150px;
	height: 90px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -50px;
}

.note-list .have-img .wrap-img img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
}

img {
	vertical-align: middle;
}

.note-list .have-img .content {
	padding-right: 165px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.note-list .have-img>div {
	padding-right: 140px;
}

div {
	display: block;
}

.note-list .content .title {
	display: inherit;
}

.note-list .content a h4:hover {
	text-decoration: underline;
	color: coral;
}

.note-list .title h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: #000000;
}

.note-list .article {
	margin: 0 0 8px;
	font-size: 13px;
	line-height: 24px;
	color: #999;
	text-indent: 2em;
	/*max-height: 90px;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	display: -webkit-box !important;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

p {
	margin: 0 0 10px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.note-list .meta {
	padding-right: 0 !important;
	font-size: 12px;
	font-weight: 400;
	line-height: 10px;
}

.note-list .meta .nickname {
	color: #797979;
}

.note-list .meta a,
.note-list .meta a:hover {
	transition: .1s ease-in;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	-ms-transition: .1s ease-in;
	color: #000000;
}

.note-list .meta a {
	margin-right: 10px;
	color: #b4b4b4;
}

a {
	text-decoration: none;
}

/* right */
aside div {
	padding: 0 !important;
}

aside .clearpadding {
	padding: 10px 0 !important;
	margin-bottom: 30px !important;
}

/* 广告 */
.ad {
	width: 350px;
	height: 400px;
}

.ad .ad_box {
	width: 100%;
	height: 100%;
	position: relative;
}

.ad .ad_box img {
	width: 100%;
	height: 100%;
}

.ad .ad_box span {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.art_top,
.aut_top {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.art_top .art_top_coral,
.aut_top .aut_top_coral {
	height: 10px;
	width: 100%;
	background-color: coral;
}

.art_top h2,
.aut_top h2 {
	text-align: center;
	font-size: larger;
	font-weight: 800;
	display: block;
	height: 50px;
	width: 100%;
	line-height: 50px;
}

.art_bot ul {
	background-color: #fff;
}

.art_bot ul li {
	text-align: left;
	line-height: 30px;
	color: coral;

}


.art_bot ul li a {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	list-style: disc;
	color: #000000;
}

.art_bot ul li a:hover {
	color: coral;
}

.art_bot_updata,
.aut_bot_updata {
	width: 100%;
	height: 30px;
	background-color: #fff;
}

.aut_bot_updata {
	margin-top: 20px !important;
	float: left;
}

.art_bot_updata a,
.aut_bot_updata a {
	display: block;
	width: 100px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
}

.art_bot_updata a i,
.aut_bot_updata a i {
	/* margin: 5px 0 0 15px; */
	width: 20px;
	height: 20px;
	display: block;
	/* border: 1px solid; */
	float: left;
	color: #000000;
}

.art_bot_updata a span:hover,
.aut_bot_updata a span:hover {
	color: coral;
}

.art_bot_updata a span,
.aut_bot_updata a span {
	line-height: 30px;
	color: #000000;
}

/* 作者推荐 */
.aut_bot ul {
	float: left;
	width: 100%;
	height: 100%;

	background-color: #fff;
}

.aut_bot ul li {
	display: block;
	width: 100%;
	height: 70px;
	margin-top: 10px;
	overflow: hidden;
	float: left;
	/* border-bottom: 1px solid #c2c2c2; */
}

.aut_bot ul li a {
	display: block;
	width: 100%;
	height: 70px;
	color: rgb(53, 50, 50);
}

.aut_bot ul li a:hover {
	color: coral;
}

.aut_bot ul li i {
	float: left;
	display: block;
	width: 55px;
	height: 55px;
	margin: 10px 15px;
	border-radius: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aut_bot ul li i img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.aut_bot ul li i img:hover {
	width: 60px;
	height: 60px;

}

.aut_bot ul li h2 {
	font-size: 20px;
	width: 100px;
	text-align: left;
	float: left;
}

.aut_bot ul li span {
	float: left;
	width: 50%;
	text-align: left;
	color: gray;
}

/* 文章 */
main .row div {
	margin: 0;
	padding: 10px;
}

main .row {
	padding: 0 !important;
}

/* Footer */
.blog-footer {
	width: 100%;
	display: inline-block;
	color: #999;
}

.blog-footer .team {
	width: 100%;
	margin-top: 50px !important;
	padding: 20px 10px 0 10px !important;
	background: linear-gradient(to bottom, #d5d5d5, #e6e6e6);
}

.blog-footer .team h5 {
	color: #1a1a1a;
	font-weight: 800;
	text-align: center;
}

.blog-footer .team ul li {
	color: #626262;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c5c5c5;
}

.blog-footer .team ul li:hover {
	color: #000000;
	/* background: linear-gradient(to top, #a5dee3, #d4d4d4); */
	border-bottom: 1px solid #9c9c9c;
}

.blog-footer .team ul li h6 {
	font-family: "仿宋";
	font-size: 18px;
	font-weight: 900;
	width: 60px;
	cursor: pointer;
}

.blog-footer .team ul li span {
	font-family: "楷体";
	font-size: 16px;
	display: inline-block;
	text-indent: 2em;
}

.blog-footer .team p {
	font-family: "楷体";
	font-size: 17px;
	text-indent: 2em;
}

.blog-footer .team p a {
	color: #e2624b;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
}

.blog-footer .team p a:hover {
	color: #ff6e54;
	font-size: 17px;
	font-weight: 600;
	font-style: italic;
}
