@font-face {
  font-family: "iconfont"; /* Project id 2509223 */
  src: url('iconfont.woff2?t=1619922807691') format('woff2'),
       url('iconfont.woff?t=1619922807691') format('woff'),
       url('iconfont.ttf?t=1619922807691') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhang:before {
  content: "\e64e";
}

.icon-article:before {
  content: "\e78e";
}

.icon-huanyipi:before {
  content: "\e78c";
}

.icon-riqishijian:before {
  content: "\e78a";
}

.icon-pinglun:before {
  content: "\e672";
}

.icon-fabu:before {
  content: "\e60e";
}

.icon-guanzhu1:before {
  content: "\e602";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-faxian:before {
  content: "\e60d";
}

.icon-icon-:before {
  content: "\e64b";
}

.icon-shangchuan:before {
  content: "\e611";
}

.icon-lianjie-:before {
  content: "\e612";
}

.icon-tupian:before {
  content: "\e619";
}

.icon-xinxi:before {
  content: "\e789";
}

.icon-qita:before {
  content: "\e603";
}

.icon-baocun:before {
  content: "\e65d";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-tuichu:before {
  content: "\e6e2";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-jinrituijian:before {
  content: "\e65b";
  font-size: 16px;
}

.icon-fenlei:before {
  content: "\e6b8";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-shouye:before {
  content: "\e60b";
  font-size: 20px;
}

.icon-xietiezi:before {
  content: "\e62f";
}

