body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:50%;
  margin-top:-540px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u3 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
  opacity:0.8;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:376px;
  top:27px;
  width:113px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:1459px;
  top:27px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:450px;
}
#u10 {
  position:absolute;
  left:376px;
  top:183px;
  width:1200px;
  height:450px;
}
#u11 {
  position:absolute;
  left:2px;
  top:217px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:108px;
}
#u12 {
  position:absolute;
  left:376px;
  top:85px;
  width:106px;
  height:108px;
}
#u13 {
  position:absolute;
  left:2px;
  top:46px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#F4CD6E;
}
#u14 {
  position:absolute;
  left:482px;
  top:107px;
  width:196px;
  height:66px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#F4CD6E;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1194px;
  top:107px;
  width:290px;
  height:47px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u17 {
  position:absolute;
  left:1494px;
  top:107px;
  width:62px;
  height:58px;
}
#u18 {
  position:absolute;
  left:2px;
  top:21px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:450px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:376px;
  top:183px;
  width:302px;
  height:450px;
  opacity:0.3;
}
#u20 {
  position:absolute;
  left:2px;
  top:217px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:387px;
  top:239px;
  width:116px;
  height:41px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:647px;
  top:239px;
  width:22px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:387px;
  top:339px;
  width:116px;
  height:36px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:647px;
  top:434px;
  width:22px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
}
#u29 {
  position:absolute;
  left:387px;
  top:434px;
  width:116px;
  height:33px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:647px;
  top:339px;
  width:22px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u33 {
  position:absolute;
  left:703px;
  top:121px;
  width:106px;
  height:40px;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u35 {
  position:absolute;
  left:819px;
  top:121px;
  width:106px;
  height:40px;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u37 {
  position:absolute;
  left:940px;
  top:121px;
  width:106px;
  height:40px;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:12px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:387px;
  top:522px;
  width:116px;
  height:36px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:647px;
  top:522px;
  width:22px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:1005px;
  background:inherit;
  background-color:rgba(88, 84, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:1826px;
  top:75px;
  width:94px;
  height:1005px;
}
#u44 {
  position:absolute;
  left:2px;
  top:494px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u45 {
  position:absolute;
  left:1848px;
  top:387px;
  width:50px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u47 {
  position:absolute;
  left:1848px;
  top:510px;
  width:50px;
  height:48px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u49 {
  position:absolute;
  left:1848px;
  top:667px;
  width:50px;
  height:43px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:376px;
  top:708px;
  width:1204px;
  height:100px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:100px;
  background-color:#585453;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u52 {
  position:absolute;
  left:376px;
  top:870px;
  width:1204px;
  height:102px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:102px;
  background-color:#585453;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:1540px;
  top:27px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:50%;
  margin-top:-540px;
  visibility:hidden;
}
#u55_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u58 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:736px;
  top:287px;
  width:448px;
  height:506px;
}
#u60 {
  position:absolute;
  left:2px;
  top:245px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:106px;
}
#u61 {
  position:absolute;
  left:777px;
  top:312px;
  width:115px;
  height:106px;
}
#u62 {
  position:absolute;
  left:2px;
  top:45px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u63 {
  position:absolute;
  left:891px;
  top:350px;
  width:241px;
  height:21px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:777px;
  top:418px;
  width:355px;
  height:47px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:777px;
  top:517px;
  width:355px;
  height:47px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:63px;
  background:inherit;
  background-color:rgba(223, 88, 88, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u67 {
  position:absolute;
  left:777px;
  top:628px;
  width:355px;
  height:63px;
  font-family:'华文仿宋 Bold', '华文仿宋';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:351px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u69 {
  position:absolute;
  left:1034px;
  top:713px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u71 {
  position:absolute;
  left:777px;
  top:713px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
