<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui"/>
    <title>login</title>
    <link rel="stylesheet" href="./../css/login.css">
</head>
<body>
    <div class="box">
        <div class="boxTop"><a href="#">食尚达人</a></div>
        <div class="boxBot">
            <form action="" method="post" >
                <input type="text" id="userName" name="user" required="required" placeholder="userName" autocomplete="off"/>
                <br>
                <input type="password" name="pass" id="passWord" placeholder="passWord" required="required"/>
                <br>
                <!-- 验证码 -->
                <input type="text" name="verified" id="verification" placeholder="请输入验证码" required >
                <a href="javascript:;"><img src="./../img/yanzheng.jpg" alt="点击切换"></a>
                <br>
                <br>
                <br>
                <input type="submit" value="Login" id="submit"/>
            </form>
            <div class="insert_alter">
                
                <a href="javascript:;" id="alter">忘记密码？</a>
                <span class="center">|</span>
                <a href="javascript:;" id="insert">现在注册 > </a>
                
            </div>
            
        </div>
    </div>
    
</body>
</html>