body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:50%;
  margin-top:-540px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
